.search-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-container input {
    flex: 1;
    max-width: 650px;
    padding: 16px;
    border-radius: 14px;
    border: 2px solid #ddd;
    font-size: 17px;
}

.search-container input:focus {
    border-color: #ff4500;
    outline: none;
}

.search-container button {
    background: linear-gradient(90deg, #ff4500, #ff6a00);
    color: white;
    border: none;
    border-radius: 14px;
    padding: 16px 28px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.search-container button:hover {
    transform: scale(1.05);
}